/*(VAR)*/
/*(PATCH)*/
html {font-size:100%;box-sizing:border-box;}
*,*:before,*:after {margin:0;padding:0;box-sizing:inherit;}
body {color:var(--main-fg);background-color:var(--main-bg);font-family:sans-serif;}
a {text-decoration:none;color:var(--main-link);}
a:visited {color:var(--main-link-v);}
a:hover {text-decoration:underline;}
img {width:100%;}
hr {border:0;border-top:var(--line);margin:1rem 0;}
table {
  display: table;
  border-collapse: collapse;
  border-spacing: 1;
  empty-cells: show;
  max-width: 100%;
  overflow: scroll;
  margin: 0 auto;
}
table th {
  font-weight: 600;
  vertical-align: center;
}
table th,table tr,table td {
  padding: 5px 10px;
  border: var(--tb-br);
  word-break: break-all;
}
tbody {vertical-align:middle;}
pre {
  color: var(--pre-fg);
  background-color: var(--pre-bg);
  margin:0;
  padding: 5px;
  overflow: auto;
  line-height: 1.5;
  letter-spacing: normal;
  white-space: pre;
}
p>code,li>code {
  color: var(--pre-fg);
  background-color: var(--pre-bg);
  padding: 0 2px;
  border-radius: 4px;
}
blockquote {
  display: block;
  background-color: var(--qt-bg);
  border-left: var(--qt-br);
  margin: 0.5rem 0.1rem;
  padding: 1px 1rem;
}
kbd {
  background-color: var(--kb-bg);
  border-bottom: var(--kb-br);
  padding: 0 2px;
  border-radius: 4px;
}
::-webkit-scrollbar {width:8px;height:8px;background:#121212;}
::-webkit-scrollbar-thumb {background: #888;}
.footnotes {
  //white-space: nowrap;
  overflow-y: auto;
  width:100%;
}
h1,h2,h3,h4,h5,h6 {color:var(--h-fg);border-bottom:var(--h-br);margin:8px 0;}
h1 {font-size:1.3em;padding-top:1em;}
h2 {font-size:1.3em;padding-top:1em;}
h3 {font-size:1.3em;padding-top:1em;}
h4 {font-size:1.2em;padding-top:1em;}
h5 {font-size:1.2em;padding-top:1em;}
h6 {font-size:1.2em;padding-top:1em;}
h1:before, h2:before, h3:before, h4:before, h5:before, h6:before {
 font-family:serif;
 font-size:.8em;
 color:var(--h-id);
 opacity:0.7;
}
h1:before{content:'Ⅰ. ';}
h2:before{content:'Ⅱ. ';}
h3:before{content:'Ⅲ. ';}
h4:before{content:'Ⅳ. ';}
h5:before{content:'Ⅴ. ';}
h6:before{content:'Ⅵ. ';}
p {width:100%;margin:0.2em 0;}
ul,ol {margin: 0.2em 0 0.2em 1.5em;}
#TableOfContents {font-size: 110%;}
#TableOfContents ul,
#TableOfContents>ul ul,
#TableOfContents>ul ul ul {list-style-type: circle;}
/*(LAYOUT)*/
.flex {display:flex;}
.inline-flex {display:inline-flex;}
.flex-wrap {flex-wrap:wrap;}
.flex-col {flex-direction:column;}
.j-c {justify-content:center;}
.a-r {text-align:right;}
.a-c {text-align:center;}
.push {margin-left:auto;}
.hide {display:none;}
.inx {
  margin: 14px 0;
  background-color:var(--mbox-bg);
  box-shadow:var(--mbox-ss);
}
.mg  {margin:0 4px;}
.pad {padding:4px 8px;}
.mbox {width:50%;}
.pbox {width:75%;padding:1em 1.5em;}
@media screen and (max-width: 800px) {
.pad {padding:4px 8px;}
.mbox {width:95%;margin:10px;}
.pbox {width:95%;margin:10px;padding:0 0.5em;}
}
.grid {display:grid;}
.card-g4 {
  grid-gap: 2px;
  grid-template-columns: 60% 40%;
  grid-template-rows: auto auto;
  grid-template-areas:
    'title date'
    'desc taxo';
}
.card-title{grid-area:title;}
.card-desc {grid-area:desc;}
.card-date {grid-area:date;}
.card-taxo {grid-area:taxo;}
.card-base {
  border-radius: 3px;
  margin: 10px auto;
  //background-color: #fff;
}
.ix-pn {
  text-align: center;
  text-decoration: none;
  padding: 8px 16px;
  margin: 6px 12px;
  //background-color: red;
}
/*(NAV)*/
.bbox {
  position: fixed;
  bottom: 0;
  width: 100%;
  overflow-y: auto;
  max-height: 80%;
  display: block;
  color: var(--bbox-fg);
  background-color: var(--bbox-bg);
  box-shadow: var(--bbox-ss);
  transition: bottom 0.3s;
}
#nav_bottom {
  z-index: 100;
  flex-wrap: nowrap;
  height: auto;
}
.nav-link{
  font-size: 1.8rem;
  color: var(--bbox-fg);
  padding: 0.5rem 0.8rem;
  //background-color: red;
}
#nav_menu,#nav_toc {
  z-index: 99;
  bottom: -100%;
}
.nav-sect {
  display: inline-flex;
  flex-wrap: wrap;
  width:100%;
  padding: 0.5rem 0;
  box-shadow: var(--bbox-ss);
  font-size: 1.1rem;
}
#nav_menu_name {
  text-align: right;
  padding: 0.1rem 0.4rem;
  font-size: 1.4rem;
}
.nav-p {padding:2px 4px;}
.th-kind {
  font-weight: 600;
}
.th-btn {
  border: 0;
  background-color: transparent;
  border-top: var(--kb-br);
}
.vi-btn {
  border: 0;
  background-color: transparent;
  border-top: var(--kb-br);
}
.th-btn-a,.vi-btn-a {
  background-color: var(--main-fg);
  color: var(--main-bg);
}
/*(HEADER)*/
.hdr {
  background-color: var(--mbox-bg);
}
.hdr-title {
  font-weight:600;
  padding:0.4em 0;
  font-size:2em;
}
.meta {
  padding:0.2em 0;
}
/*(FOOTER)*/
.footer-box {
  padding: 4rem 0.5rem;
  text-align: center;
  background-color: var(--mbox-bg);
}
/*(ENHANCE)*/
.code-lang {
  padding: 1px 4px;
  color: black;
  background-color: grey;
}
.nav-flip {
  position:fixed;
  z-index:1;
  top:0px;
  width:10px;
  height:100%;
  //background-color:#00000034;
}
.mermaid {background-color: #ffffff24;}
/*(MD)*/
.h-anchor {
  color: transparent;
  text-shadow: 0 0 0 #00000000;
  font-size: 90%;
}
.h-anchor:hover {
  text-decoration:none;
  color:var(--main-link);
}
.img-frame {
  background-color:#aaaaaa20;
  width:400px;
  height:300px;
  margin:0 auto;
  padding:0;
}
