<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="12" cy="12" r="10"></circle><polyline points="12 6 12 12 16 14"></polyline></svg>
<span id="timerTick-{{.Get "id"}}" class="sc--clock" title="{{ .Get "time" | default "2020-12-30 01:00:00" }}"></span>
<script>
setInterval("runTickTimer('timerTick-{{.Get "id"}}', '{{.Get "time" | default "2020-12-30 01:00:00" }}','{{.Get "format" | default " %y Year %d  Day %h Hour %m Min %s Sec %e Milisec " }}')", {{ .Get "interval" | default "1"}});
</script>
